<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PR_Type</servlet-name>
        <servlet-class>PurchaseRequisition.PR_Type</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PR_Type1</servlet-name>
        <servlet-class>PurchaseRequisition.PR_Type1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>PurchaseRequisition.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemRegistrationController</servlet-name>
        <servlet-class>Inventory.ItemRegistrationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StockOverviewController</servlet-name>
        <servlet-class>Inventory.StockOverviewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StockRequirementController</servlet-name>
        <servlet-class>Inventory.StockRequirementController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RejectedItemsController</servlet-name>
        <servlet-class>Inventory.RejectedItemsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PurchaseRequisitionController</servlet-name>
        <servlet-class>PurchaseRequisition.PurchaseRequisitionController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PR_Type</servlet-name>
        <url-pattern>/PR_Type</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PR_Type1</servlet-name>
        <url-pattern>/PR_Type1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemRegistrationController</servlet-name>
        <url-pattern>/ItemRegistrationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StockOverviewController</servlet-name>
        <url-pattern>/StockOverviewController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StockRequirementController</servlet-name>
        <url-pattern>/StockRequirementController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RejectedItemsController</servlet-name>
        <url-pattern>/RejectedItemsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PurchaseRequisitionController</servlet-name>
        <url-pattern>/PurchaseRequisitionController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
